In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hp\.conda\envs\easy_farm\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
df = pd.read_csv(r"Crop_Production_final_set.csv.csv")
df.head()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andhra Pradesh,ANANTAPUR,Arecanut,2001-02,Whole Year,257,Hectare,430.0,Tonnes,1.673152
1,Andhra Pradesh,ANANTAPUR,Arecanut,2002-03,Whole Year,263,Hectare,379.0,Tonnes,1.441065
2,Andhra Pradesh,ANANTAPUR,Arecanut,2003-04,Whole Year,266,Hectare,189.0,Tonnes,0.710526
3,Andhra Pradesh,EAST GODAVARI,Arecanut,2001-02,Whole Year,7,Hectare,12.0,Tonnes,1.714286
4,Andhra Pradesh,EAST GODAVARI,Arecanut,2002-03,Whole Year,7,Hectare,10.0,Tonnes,1.428571

In [10]:
df.isnull().sum()

State                 0
District              0
Crop                  0
Year                  0
Season                0
Area                  0
Area Units            0
Production          201
Production Units      0
Yield                 0
dtype: int64

In [11]:
df.Crop.value_counts()

Crop
Rice                   893
Maize                  873
Groundnut              865
Dry chillies           817
Moong(Green Gram)      815
Urad                   801
Jowar                  792
Sesamum                763
Arhar/Tur              654
Onion                  615
Horse-gram             584
Bajra                  558
Ragi                   520
Sunflower              509
Cotton(lint)           479
Tobacco                428
Sugarcane              412
Gram                   412
Castor seed            364
Turmeric               346
Small millets          320
Banana                 313
Sweet potato           310
Coconut                297
Cashewnut              256
Coriander              243
Other Kharif pulses    179
Wheat                  173
Cowpea(Lobia)          163
Other Rabi pulses      150
Safflower              146
Soyabean               142
Ginger                 135
Mesta                  134
Tapioca                134
Rapeseed &Mustard      129
Potato                 120
Oilseeds total         117
other oilseeds         109
Linseed                 84
Niger seed              72
Arecanut                60
Masoor                  35
Garlic                  21
Sannhamp                14
Black pepper             4
Guar seed                3
Name: count, dtype: int64

In [12]:
df["Production Units"].value_counts()

Production Units
Tonnes    15453
Bales       613
Nuts        297
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16363 entries, 0 to 16362
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             16363 non-null  object
 1   District          16363 non-null  object
 2   Crop              16363 non-null  object
 3   Year              16363 non-null  object
 4   Season            16363 non-null  object
 5   Area              16363 non-null  int64
 6   Area Units        16363 non-null  object
 7   Production        16162 non-null  float64
 8   Production Units  16363 non-null  object
 9   Yield             16363 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 1.2+ MB

In [14]:
df["Area Units"].value_counts()

Area Units
Hectare    16363
Name: count, dtype: int64

In [15]:
df.describe()

                Area    Production         Yield
count   16363.000000  1.616200e+04  16363.000000
mean    14601.560533  1.613428e+06    212.827867
std     43685.929787  2.655619e+07   1620.276414
min         1.000000  0.000000e+00      0.000000
25%       196.000000  2.180000e+02      0.500000
50%      1496.000000  2.025500e+03      1.163773
75%      8993.000000  1.702100e+04      3.305510
max    877029.000000  8.980570e+08  31578.947370

In [16]:
df["Production"]=df.groupby("Crop")["Production"].transform(lambda x: x.fillna(x.mean()))
df.isnull().sum()

State                0
District             0
Crop                 0
Year                 0
Season               0
Area                 0
Area Units           0
Production          14
Production Units     0
Yield                0
dtype: int64

In [17]:
df = df.dropna(how='any',axis=0)
df.isnull().sum()

State               0
District            0
Crop                0
Year                0
Season              0
Area                0
Area Units          0
Production          0
Production Units    0
Yield               0
dtype: int64

In [18]:
df = df.drop(columns=["State","Year","Area Units","Production Units","Yield"])
df.head()

        District      Crop      Season  Area  Production
0      ANANTAPUR  Arecanut  Whole Year   257       430.0
1      ANANTAPUR  Arecanut  Whole Year   263       379.0
2      ANANTAPUR  Arecanut  Whole Year   266       189.0
3  EAST GODAVARI  Arecanut  Whole Year     7        12.0
4  EAST GODAVARI  Arecanut  Whole Year     7        10.0

In [19]:
df.sample(15)

            District          Crop      Season   Area  Production
6174       ANANTAPUR         Maize        Rabi   6000     48000.0
14089      NIZAMABAD  Cotton(lint)      Kharif  17200     18000.0
5247       ANANTAPUR      Arecanut  Whole Year    356       169.0
14964     RANGAREDDI         Maize      Kharif   5500     13700.0
2943   WEST GODAVARI     Cashewnut  Whole Year  38718      7136.0
16268      NIZAMABAD          Urad      Kharif  16063      3984.0
6036    SPSR NELLORE    Horse-gram      Kharif      4         2.0
11494  WEST GODAVARI        Banana  Whole Year   8011    330974.0
6965     MAHBUBNAGAR     Sugarcane  Whole Year    130     11440.0
9601   EAST GODAVARI      Arecanut      Kharif     20        59.0
154           KADAPA         Bajra        Rabi    992       877.0
10084   VIZIANAGARAM  Dry chillies      Kharif    116       473.0
10582   SPSR NELLORE         Onion      Kharif     58      1092.0
6630        ADILABAD          Rice      Kharif  37878     75264.0
9059    SPSR NELLORE       Sesamum        Rabi    453       103.0

In [20]:
duplicate = df[df.duplicated()]
duplicate

            District       Crop      Season  Area  Production
298           KADAPA  Cashewnut  Whole Year     7         2.0
1757       NIZAMABAD       Ragi        Rabi     8        14.0
2656   WEST GODAVARI   Arecanut  Whole Year     9         6.0
2906          GUNTUR  Cashewnut  Whole Year   159        42.0
2907          KADAPA  Cashewnut  Whole Year     7         2.0
...              ...        ...         ...   ...         ...
15678         KADAPA  Safflower        Rabi     4         1.0
15709       CHITTOOR    Sesamum      Kharif   400       100.0
16051       WARANGAL  Sunflower        Rabi   200       100.0
16257          MEDAK       Urad        Rabi     2         1.0
16337     KARIMNAGAR      Wheat        Rabi   200       100.0

[118 rows x 5 columns]

In [21]:
df = df.drop_duplicates()
df.shape

(16231, 5)

In [22]:
duplicate = df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [District, Crop, Season, Area, Production]
Index: []

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16231 entries, 0 to 16362
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   District    16231 non-null  object
 1   Crop        16231 non-null  object
 2   Season      16231 non-null  object
 3   Area        16231 non-null  int64
 4   Production  16231 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 760.8+ KB

In [24]:
categorical_columns = ["District", "Crop","Season"]
label_encoders = {}

for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [25]:
X = df.drop(columns=["Production"])
y = df["Production"]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
X_test

       District  Crop  Season    Area
4027         19    23       0    1749
3491         17    15       1    7980
2071         18    34       1    4059
10681         4    30       0       6
16069        15    39       2     542
...         ...   ...     ...     ...
15876        20    35       0    1000
15628        17    32       1  183300
6022         12    17       1     105
4722          3    36       0     156
6829         13    34       1      31

[3247 rows x 4 columns]

In [28]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [29]:
y_pred = model.predict(X_test)

In [30]:
X.head()

   District  Crop  Season  Area
0         1     0       2   257
1         1     0       2   263
2         1     0       2   266
3         3     0       2     7
4         3     0       2     7

In [31]:
y_pred = model.predict([[12,0,2,213]])
y_pred

c:\Users\hp\.conda\envs\easy_farm\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([2380.73])

In [32]:
# Model evaluation
#mae = mean_absolute_error(y_test, y_pred)
#mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, model.predict(X_test))

In [33]:
# Print evaluation results
#print("Mean Absolute Error:", mae)
#print("Mean Squared Error:", mse)
print("R2 Score:", r2)

R2 Score: 0.9210967212359567

In [34]:
import joblib

# Save the trained model
joblib.dump(model, "crop_production_model13.sav")
print("Model saved successfully!")

Model saved successfully!

In [35]:
# Save the trained model
joblib.dump(le, "crop_production_le.pkl")
print("Model saved successfully!")

Model saved successfully!